.fa-heart.uncheck{
    color:#d0c8c8;
}
.fa-heart.check{
    color: red;
}

#lyric {
    border: 1px solid #009ae1;
    border-top-left-radius: 30px;
    padding: 20px 20px;
}

#lyric > div > hr:not(:first-of-type){
    background-color: #344b561f;
    margin: 0 0 12px 0;
}
#divMoreAddLyric{
    padding: 15px 0 0;
}
#div-lyric{
    color: #656565;
    height:auto;
    max-height:255px;
    overflow:hidden;
}

#menuleft2 li.active{
    background: #f6f6f6;
}.aplayer.aplayer-withlrc .aplayer-info {
     margin-left: 90px;
     height: 234px;
     padding: 10px 7px 0;
 }
.aplayer.aplayer-withlrc .aplayer-info {
    margin-left: 90px;
    height: 234px;
    padding: 10px 7px 0;
}
ul.playlists {
    padding-left: 10px;
    max-height: 120px;
    overflow: auto;
}
ul.playlists >li{
    padding: 4px ;

}

ul.playlists >li i{
    margin-right: 2px;
}
ul.playlists >li >a:hover{
    color:#000;
}
.chu-de{
    border: 1px solid #d7d4c2;
    width: 100%;
    margin-bottom: 10px;
}
a:hover{
    text-decoration:none !important;
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 3px;

}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #009ae1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
#cssmenu{
    background:#c4e8fd ;
    position: fixed !important;
    z-index:99;
    width: 100% !important;
    border-bottom: #d8d8d8 solid 0px;
    -moz-box-shadow: 0 3px 8px rgba(3,3,3,0.26);
    -webkit-box-shadow: 0 3px 8px rgba(3,3,3,0.26);
    box-shadow: 0 3px 8px rgba(3,3,3,0.26);
}
#cssmenu li.has-sub ul{
    width: 450px;
}
#cssmenu li.has-sub ul li{
    float: left;
}
#cssmenu li.has-sub ul li a {
    width: 150px;
}
.container{
    padding-top: 75px;
}


#custom-search-form {

    float: left;
    margin: 5px 0 0 20px;
    padding: 0;
}

#custom-search-form .search-query {
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    width: 230px;
    border: 1px solid #009ae1;
    padding: 7px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: width  0.2s ease-in-out;
    -moz-transition:width  0.2s ease-in-out;
    -o-transition: width  0.2s ease-in-out;
    transition: width  0.2s ease-in-out;
}

#custom-search-form button {
    border: 0;
    font-size: 18px;
    color: #009ae1;
    background: none;
    /** belows styles are working good */
    padding: 2px 0;

    position: relative;
    left: -28px;
    margin-top: -5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#custom-search-form button:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}
#custom-search-form button:focus {
   outline: none;
}

.search-query:focus + button {
z-index: 3;
}

#user_menu > .open li {
    height: auto;
}

#user_menu > .open > ul.dropdown-menu{
    left: auto;
}

.open ul.dropdown-menu li.divider{
    height: 1px !important;
}
#cssmenu{
    z-index: 3 !important;
}
#menuleft2 ul{
    z-index: 2 !important;
}
.more-action{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-right: 5px !important;
}
.more-action > .action-item{
    margin-left: 10px;
    font-size: 17px;
}